*{
    
}

form{
    width: 70%;
    margin: 5% auto;
    height: 80%;
    min-height: 500px;
}

#PersonalDetails{
    width : 50%;
    min-width: 200px;
    min-height: 400px;
    float: left;
}

div{
    margin: 5px;
}

label{
    font-family:sans-serif;
}
input{
    text-align: center;
    padding: 1px
}

#OrderDetails{
    width : 50%;
    min-width: 200px;
    min-height: 400px;
    float:left;
/*    padding: 1px;*/
}
button{
    clear: both;
    margin: 0 50%;
}